<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cargo.invoice.mapper.InvoiceMapper">

    <select id="invoiceList" resultType="com.cargo.invoice.vo.InvoiceVo">

        SELECT
            *
        FROM
            invoice
        WHERE
            is_able =1
        <if test="dto.invoiceNumber != null and dto.invoiceNumber !=''">
            AND invoice_number = #{dto.invoiceNumber}
        </if>

        <if test="dto.invoiceStatus != null and dto.invoiceStatus !=''">
            AND invoice_status = #{dto.invoiceStatus}
        </if>

        ORDER BY gmt_modified DESC

    </select>
</mapper>
